<div class="header">
  <ng-container *ngIf="movies">
    <div class="backgroundDiv">
      <ng-container *ngFor="let singlemovie of movies.shows">
        <img class="backgroundimg" [src]="movies.shows[0].img" />
      </ng-container>
    </div>
    <div class="movieicons">
      <ng-container *ngFor="let singlemovie of movies.shows.slice(1,movies.shows.length)">
        <ion-thumbnail class="singleicondiv">
          <img class="singleicon" [src]="singlemovie.img" />
        </ion-thumbnail>
      </ng-container>
    </div>
  </ng-container>
</div>