<ion-header class="header-container" clickOutside>
    <form [formGroup]="searchForm">
        <input type="text" onfocus="this.value=''" formControlName="search" id="searchBar">
    </form>
    <img id="searchicon" src="assets/icon/searchicon.png" />
    <img id="logoicon" src="assets/icon/hbo.png" />
</ion-header>
<ion-content [fullscreen]="true">
    <div class="sliderWindow">
        <div *ngIf="trending" id="slides">
            <ng-container *ngFor="let show of trending[0].shows">
                <div>
                    <img [src]="show.img" />
                </div>
            </ng-container>
        </div>
        <div *ngIf="trending" class="dotslist" id="dotslist">
            <ng-container *ngFor="let show of trending[0].shows">
                <span class="dot"></span>
            </ng-container>
        </div>
    </div>
</ion-content>