
.header-container{
  height: 7%;
  display: flex;
  justify-content:flex-start;
  padding: 5px;

}

#searchicon{
  width: 30px;
  position: absolute;
  padding: 2px;
  padding-top: 6px;
  padding-left: 5px;
}

#searchBar{
    padding-left: 21%;
    width: 50px;
    transition-delay: 0.3s;
    transition-duration: 0.5s;
    border-radius: 39px;
    border: 1px solid grey;
    height: 100%;
}

